<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <% include ../partials/header.ejs %>
    <script src="scripts/game.js"></script>
  </head>
  <body onload="makeBoard('<%=board%>', '<%=captured_by_white%>', '<%=captured_by_black%>');getComments('<%=game_id%>')">
    <table>
      <tr id="captured_by_black"></tr>
    </table>
    <table id="chess_board">
    </table>
    <div id="buttons">
      <button onclick="submitBoard('<%=game_code%>')">Submit Board</button>
      <button onclick="getCurrentBoard('<%=game_code%>')">Get Current Board</button>
      <button onclick="resetBoard('<%=game_code%>')">Reset Board</button>
    </div>
    <table>
      <tr id="captured_by_white"></tr>
    </table>
    <textarea id="comment" rows="4" cols="50"></textarea>
    <button onclick="postComment('<%=game_id%>')">Submit Comment</button>
    <ul id="comments">
    </ul>

  </body>
</html>
