<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <% include ../partials/header.ejs %>
    <script src="scripts/game.js"></script>
  </head>
  <body onload="initialize('<%=game_id%>', '<%=game_code%>', '<%=count%>',
    '<%=board%>', '<%=captured_by_white%>', '<%=captured_by_black%>')">
    <table>
      <tr id="captured_by_black"></tr>
    </table>
    <table class="add">
      <tr id="add_to_black"></tr>
    </table>
    <span id="outer_board" ondrop="drop(event)" ondragover="allowDrop(event)">
      <table id="chess_board">
      </table>
    </span>
    <div id="buttons">
      <button onclick="submitBoard('<%=game_code%>')">Submit Board</button>
      <button onclick="resetBoard('<%=game_code%>')">Reset Board</button>
    </div>
    <table class="add">
      <tr id="add_to_white"></tr>
    </table>
    <table>
      <tr id="captured_by_white"></tr>
    </table>
    <br>
    <div id='post_comment'>
      <textarea id="comment" rows="4" cols="50"></textarea><br>
      <button onclick="postComment('<%=game_id%>')">Send Message</button>
    </div>
    <ul id="comments">
    </ul>

  </body>
</html>
